name: Auto Promote Feature Branch

on:
  pull_request:
    branches:
      - qa
      - uat
      - main

jobs:
  promote:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Get PR info
      id: info
      run: |
        SOURCE="${{ github.event.pull_request.head.ref }}"
        TARGET="${{ github.event.pull_request.base.ref }}"

        echo "SOURCE=$SOURCE"  >> $GITHUB_OUTPUT
        echo "TARGET=$TARGET"  >> $GITHUB_OUTPUT

        # HEAD must always be "feature"
        if [[ "$SOURCE" != feature* ]]; then
          echo "Not a feature branch — skipping"
          echo "NEXT=" >> $GITHUB_OUTPUT
          exit 0
        fi

        # Decide next target
        if [ "$TARGET" = "qa" ]; then
          NEXT="uat"
        elif [ "$TARGET" = "uat" ]; then
          NEXT="main"
        else
          NEXT=""
        fi

        echo "NEXT=$NEXT" >> $GITHUB_OUTPUT

    - name: Create next PR
      if: steps.info.outputs.NEXT != ''
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SOURCE: ${{ steps.info.outputs.SOURCE }}
        TARGET: ${{ steps.info.outputs.TARGET }}
        NEXT: ${{ steps.info.outputs.NEXT }}
      run: |
        echo "Creating PR: ${SOURCE} → ${NEXT}"

        gh pr create \
          --title "Auto Promotion: ${SOURCE} → ${NEXT}" \
          --body "This PR was automatically created after merging ${SOURCE} into ${TARGET}." \
          --base "${NEXT}" \
          --head "${SOURCE}" \
          || echo "PR already exists, skipping..."

jobs:
  Validation:
    runs-on: ubuntu-latest

    steps:
      - name: create repo on virtual machine
        uses: actions/checkout@v3

      - name: Node setup
        uses: actions/node-setup@v3
        with:
          node-version: '18'

      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global

      - name: Install PMD to scan apex code
        run: |
          echo "Downloading PMD..."
          curl -L -o pmd.zip https://github.com/pmd/pmd/releases/download/pmd_releases%2F7.7.0/pmd-dist-7.7.0-bin.zip
          unzip pmd.zip -d pmd
          echo "PMD extracted:"
          ls -R pmd

      - name: Delta plugins download
        run: |
          echo Y | sf plugins install sfdx-git-delta
          sf plugins

      - name: creating delta changes for validation
        id: delta
        run: |
          SRC_COMMIT= "${{ github.event.pull_request.head.sha }}"
          TGT_COMMIT= "${{ github.event.pull_request.base.sha }}"
          TARGET_BRANCH= "${{ github.event.pull_request.base.ref }}"

          if[ -z "$SRC_COMMIT"] || if[ -z "$TGT_COMMIT"]; then
            echo "PR commit variables not found. Falling back to merge-base method."
            BRANCH_NAME="${TARGET_BRANCH#refs/heads/}"

            echo "Fetching remote branch: $BRANCH_NAME"
            git fetch origin "$BRANCH_NAME:$BRANCH_NAME"

            MERGE_BASE=$(git merge-base HEAD origin/$BRANCH_NAME)
            FROM_COMMIT=$MERGE_BASE
            TO_COMMIT=HEAD
          else
            FROM_COMMIT=$TGT_COMMIT
            TO_COMMIT=$SRC_COMMIT
          fi
         
          echo "Using FROM_COMMIT=$FROM_COMMIT TO_COMMIT=$TO_COMMIT"

          rm -rf delta
          mkdir -p delta

          echo "Running delta creation command"
          sf sgd source delta --to "$TO_COMMIT" --from "$FROM_COMMIT" --output delta/ --generate-delta --source force-app/main/default

          echo "Delta structure:"
          tree delta || ls -R delta
        
          echo "--- Generated package.xml ---"
          if [ -f delta/package/package.xml ]; then
            cat delta/package/package.xml
            echo "NO_CHANGES=false" >> $GITHUB_OUTPUT
          else
            echo "No package.xml found. Probably no deployable changes."
            echo "NO_CHANGES=true" >> $GITHUB_OUTPUT
          fi

      - name: Run Pmd Scan For Generated Delta
        run: |
          chmod +x ./pmd/pmd-bin-7.7.0/bin/pmd
          ./pmd/pmd-bin-7.7.0/bin/pmd check \
            -d delta \
            -R rulesets/apex/quickstart.xml \
            -f text || true 
             
      - name: Authenticate to Environment
        id: auth
        if: steps.delta.outputs.NO_CHANGES == 'false'
        run: |
          TARGET_BRANCH= "${{ github.event.pull_request.base.ref }}"
        
          echo "Authenticating based on PR target branch: $TARGET_BRANCH"

          if [ "$TARGET_BRANCH" = "qa" ]; then
            AUTH_URL="${{ secrets.SFDX_AUTH_URL_QA }}"
            ALIAS="QA"
          elif [ "$TARGET_BRANCH" = "uat" ]; then
            AUTH_URL="${{ secrets.SFDX_AUTH_URL_UAT }}"
            ALIAS="UAT"
          elif [ "$TARGET_BRANCH" = "main" ]; then
            AUTH_URL="${{ secrets.SFDX_AUTH_URL_PROD }}"
            ALIAS="PROD"
          else
            echo "ERROR: Unsupported branch: ${{ github.base_ref }}"
            exit 1
          fi
        
          echo "env_alias=$ALIAS" >> $GITHUB_OUTPUT 
          
          echo "$AUTH_URL" > authfile.txt
          sf org login sfdx-url --sfdx-url-file authfile.txt --alias "$ALIAS" --set-default
          rm authfile.txt

      # Validate Deployment

      - name: Validate Delta
        if: steps.delta_pr.outputs.NO_CHANGES == 'false'
        run: |
          ALIAS="${{ steps.auth.outputs.env_alias }}"
          echo "Validating in environment: $ALIAS"

          sf project deploy validate \
            --source-dir changed-sources/force-app \
            --target-org "$ALIAS" \
            --test-level RunLocalTests
        

        

         
          
